__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/
.env/

.vscode/

.idea/

*.sublime-project
*.sublime-workspace

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

.env

pip-log.txt
pip-freeze.txt
